
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page controller View</title>
</head>
<body>
    <div> 
        <h1> This is view from Home page controller </h1>
    </div>
</body>
</html>
