
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDate</title>
</head>
<body>
    <div> 
        <h1>Hello from Get date</h1>
        <h1> this is date - @DateTime.Now</h1>
    </div>
</body>
</html>
