
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <input type="text" id="txtBox1"/>
    </div>
    <div>
        <label id="lbl1"></label>
    </div>
    <div> 
        <button id="btnTest1">Click me</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="tdStdId"></td>
                <td id="tdStdName" ></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
<script>
    $(document).ready(function () {
        //alert("this is alert");
        //$("#btnTest1").click(function () {
        //    console.log("I'm clicked");
        //    myFunc();
        //});

        $("#btnTest1").click(function () {
            console.log("I'm clicked");
            $.ajax({
                url: "/Home/GetStudent",
                method: "GET",
                success: function (data) {
                    console.log(data);

                    data = JSON.parse(data);
                    console.log(data);

                    $("#tdStdId").text(data.Id);
                    $("#tdStdName").text(data.Name);
                    //$("#tdStdId").text(data.Id);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
    });
    //function myFunc() {
    //    var temp = $("#txtBox1").val();
    //    $("#lbl1").text(temp);
    //}
</script>