
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<script src="~/Content/JS/JavaScript.js"></script>
        <script src="~/Content/JS/JavaScript1.js"></script>
        <script src="~/Content/JS/JavaScript2.js"></script>
        <script src="~/Content/JS/JavaScript3.js"></script>
        <script src="~/Content/JS/JavaScript4.js"></script>*@
    @Scripts.Render("~/bundles/js")
    @Styles.Render("~/bundles/css")

    <title>Index</title>
</head>
<body>
    <div>
        <h1>Index view</h1>
    </div>
</body>
</html>
