
@{
    ViewBag.Title = "List";
}

@Ajax.ActionLink("Countries", "Countries", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "listContainer"
})
@Ajax.ActionLink("States", "States", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "listContainer"
})
@Ajax.ActionLink("Cities", "Cities", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "listContainer"
})
<div id="listContainer">

</div>

