@model MVCPartialViewDemo.Models.Employee

<div>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Department</td>
                <td>@Model.Designation</td>
                <td>@Model.Role</td>
            </tr>
        </tbody>

    </table>
</div>