@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="alert alert-danger " role="alert">
    This page is under maintainance
    <button type="button" class="close" data-dismiss="alert">x</button>
</div>
<div class="alert alert-info " role="alert">
    Page loaded
    <button type="button" class="close" data-dismiss="alert">x</button>
</div>
<div class="jumbotron">
    <h1>YouTube Bootstrap Demo</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
        <button class="btn btn-lg btn-info pull-right">Button &raquo;</button>
    </p>
    <p>
        <button class="btn btn-lg btn-info pull-right visible-lg">Large &raquo;</button>
        <button class="btn btn-md btn-danger pull-right visible-md">Medium &raquo;</button>
        <button class="btn btn-sm btn-warning pull-right visible-sm">Small &raquo;</button>
        <button class="btn btn-xs btn-success pull-right visible-xs">Extra Small &raquo;</button>
    </p>
    <br />
    <p>
        <button class="btn btn-lg btn-info pull-right hidden-lg">Large &raquo;</button>
        <button class="btn btn-md btn-danger pull-right hidden-md">Medium &raquo;</button>
        <button class="btn btn-sm btn-warning pull-right hidden-sm">Small &raquo;</button>
        <button class="btn btn-xs btn-success pull-right hidden-xs">Extra Small &raquo;</button>
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <blockquote>
            Start building projects to learn effectively
            <footer>Gaurav</footer>
        </blockquote>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3 ">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3  ">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    @*<div class="col-md-3 col-xs-3">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Base Location</th>
                    <th>Avatar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="info">
                    <td class="text-primary">Gaurav</td>
                    <td class="text-danger">Nagpur</td>
                    <td class="text-warning">Hyderabad</td>
                    <td><i class="fa-solid fa-user-ninja"></i></td>
                </tr>
                <tr class="success">
                    <td>Hitu</td>
                    <td>Kalmeshwar</td>
                    <td>Bangalore</td>
                    <td><i class="fa-solid fa-user-astronaut"></i></td>
                </tr>
                <tr class="warning">
                    <td>Mubashir</td>
                    <td>Nagpur</td>
                    <td>Pune</td>
                    <td><i class="fa-solid fa-user-tie"></i></td>
                </tr>
                <tr class="danger">
                    <td>Mayur</td>
                    <td>Nagpur</td>
                    <td>Pune</td>
                    <td><i class="fa-solid fa-paw"></i></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

